.btn.btn-default{:style=>"float: right;"}
  = link_to 'New Report', new_report_path
%h3{:style=>"color: #337AB7"} My reports

%table.table.table-hover
  %thead
    %tr
      %th{:style=>"text-align: left; width: 75%;"}
        %small Reportname
      %th{:colspan=>"1", :style=>"float:right;"}
  %tbody
  - if !@reports.nil?
    - @reports.each do |report|
      %tr
        %td= report.report_name
        %td
          %a.btn.btn-mini.btn-default.btn-xs.fancybox{"data-fancybox-type"=>"iframe", :href=>'reports/serve?path='+report.path} Review
          = link_to 'Show', report, :class => 'btn btn-mini btn-default btn-xs'
          = link_to 'Edit', edit_report_path(report), :class => 'btn btn-mini btn-default btn-xs'
          = link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-default btn-xs'

