%p#notice= notice

%p
  %b Report name:
  = @report.report_name
%p
  %b Path:
  = @report.path
%p
  %b User:
  = @report.user_id

= link_to 'Edit', edit_report_path(@report), :class => 'btn btn-mini btn-default btn-xs'
\|
= link_to 'Back', reports_path, :class => 'btn btn-mini btn-default btn-xs'
